/* 
  THIS IS ALL SUBJECT TO CHANGE

  Save this as: 
  ~/.config/xfce4-docklike-plugin/gtk.css (restart xfce4-panel)

  These variables are set at runtime based on the current GTK theme:
  @menu_bgcolor  
  @menu_item_color
  @menu_item_color_hover
  @menu_item_bgcolor_hover

  CSS selectors created by the plugin:
  #docklike-plugin
  .group
  .open_group
  .active_group
  .hover_group
  .menu
  .menu_item
  .active_menu_item
  .hover_menu_item

  See for more details:
  https://developer.gnome.org/gtk3/stable/chap-css-overview.html
  https://developer.gnome.org/gtk3/stable/chap-css-properties.html
*/

/* These define how the individual dock items are styled */
.group {
  box-shadow: inset 1px 0px 0px 0px grey;
}
.open_group {
  box-shadow: inset 4px 0px 0px 0px teal;
}
.active_group {
  box-shadow: inset 4px 0px 0px 0px salmon;
}
.hover_group {
  background-color: alpha(@menu_item_bgcolor_hover, 0.2);
}

/* These define how the individual menu items are styled */
.active_menu_item {
  background-color: darkmagenta;
}
.active_menu_item label {
  color: white;
}
.hover_menu_item {
  background-color: alpha(@menu_item_color_hover, 0.2);
}

/* How the drop target is highlighted */
.drop_target {
  box-shadow: inset 4px 0px 0px 0px darkviolet;
}

/* An undecorated window with the current GTK theme's menu background color set */
.menu {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: @menu_bgcolor;
}
